---
// src/components/Giscus.astro
// 无需 frontmatter，纯客户端脚本
---

<div id="giscus-container"></div>

<script src="https://giscus.app/client.js"
        data-repo="xaver985/astro-blog-starter-template"
        data-repo-id="R_kgDOTY6DdA"
        data-category="Announcements"
        data-category-id="DIC_kwDOTY6DdM4DBnlM"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
	crossorigin="anonymous"
	data-loading="lazy"
        async>
</script>
